.comp {
  width: 275px;
  height: 75px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: 0.7s;
}

.comp:hover {
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: 0.7s;
}

.notifications {
  position: absolute;
  top: 35px;
  left: 230px;
  z-index: 10;
}

.notifications span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(34, 34, 34, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.avatar {
  position: absolute;
  left: 10px;
  z-index: 10;
}

.avatar i {
  color: white;
  font-size: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 130px;
  gap: 5px;
}

.name {
  font-size: 16px;
}

.message {
  font-size: 12px;
}
