<div class="comp">
  <div class="avatar"><i class="bx bx-user-circle"></i></div>
  <div class="content">
    <div class="name">username</div>
    <div class="message">text message</div>
  </div>
  <div class="notifications">
    <span>99+</span>
  </div>
</div>
