<div class="main-content">
  <div class="header">
    <div class="avatar">
      <i class="bx bx-user-circle"></i>
    </div>
    <div class="text-block">
      <div class="name">
        <span>username</span>
      </div>
      <div class="online">
        <span>online</span>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="messages">
      <app-message class="left-side"></app-message>
      <app-message class="right-side"></app-message>
      <app-message class="left-side"></app-message>
      <app-message class="right-side"></app-message>
      <app-message class="left-side"></app-message>
      <app-message class="right-side"></app-message>
      <app-message class="left-side"></app-message>
      <app-message class="left-side"></app-message>
      <app-message class="right-side"></app-message>
      <app-message class="right-side"></app-message>

      <app-message class="left-side"></app-message>
      <app-message class="right-side"></app-message>
      <app-message class="left-side"></app-message>
      <app-message class="right-side"></app-message>
      <app-message class="left-side"></app-message>
      <app-message class="right-side"></app-message>
      <app-message class="left-side"></app-message>
      <app-message class="left-side"></app-message>
      <app-message class="right-side"></app-message>
      <app-message class="right-side"></app-message>

      <app-message class="left-side"></app-message>
      <app-message class="right-side"></app-message>
      <app-message class="left-side"></app-message>
      <app-message class="right-side"></app-message>
      <app-message class="left-side"></app-message>
      <app-message class="right-side"></app-message>
      <app-message class="left-side"></app-message>
      <app-message class="left-side"></app-message>
      <app-message class="right-side"></app-message>
      <app-message class="right-side"></app-message>
    </div>
  </div>
  <div class="footer">
    <input
      [(ngModel)]="message"
      type="text"
      placeholder="Message"
      (keyup.enter)="sendMessage()"
      id="message"
      (focus)="focus()"
      (focusout)="focusout()"
    />
    <i class="bx bx-send" (click)="sendMessage()"></i>
  </div>
</div>
