.main-content {
  height: calc(100% - 10px);
  width: calc(100vw - 330px);
  padding: 0 20px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  background-color: rgba($color: #000, $alpha: 0.2);
  padding: 0 20px;
  margin-top: 5px;
  margin-left: 10px;
}

.header {
  height: 60px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  background-color: rgba($color: #000, $alpha: 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}
.text-block {
  display: flex;
  flex-direction: column;
}
.avatar {
  i {
    color: #fff;
    font-size: 45px;
  }
}

.footer {
  height: 60px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  i {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    z-index: 1;
    right: 20px;
  }
  transition: 0.4s;
}
.footer input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
  margin-left: 10px;
  font-family: "JetBrains-Mono";
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  transition: 0.4s;
}

.main {
  height: calc(100% - 140px);
}

.activeSearch {
  border: 2px solid rgba(255, 255, 255, 0.4);
  color: #ccc;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  transition: 0.4s;
}
.messages {
  height: calc(100%);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}
.messages {
  scrollbar-width: none; /* firefox */
}
.messages::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.left-side {
  float: left;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.right-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  float: right;
  align-items: flex-end;
}
