<div class="main-content">
  <div class="header">
    <div class="avatar">
      <i class="bx bx-user-circle"></i>
    </div>
    <div class="text-block">
      <div class="name">
        <span>{{ activeChat.username }}</span>
      </div>
      <div class="online">
        <span>online</span>
      </div>
    </div>
  </div>
  <div class="main-main">
    <app-message
      *ngFor="let message of activeChat.messages"
      [message]="message.text"
      [Username]="message.sender.displayName"
      [time]="message.time"
      [@messageAnimation]
    ></app-message>
    <div id="endOFChat"></div>
  </div>
  <div class="footer">
    <input
      [(ngModel)]="messageToSend"
      type="text"
      placeholder="Message"
      (keyup.enter)="sendMessage()"
      id="message"
      (focus)="focus()"
      (focusout)="focusout()"
    />
    <i class="bx bx-send" (click)="sendMessage()"></i>
  </div>
</div>
