<div class="body">
  <div class="wrapper">
    <div class="back">
      <i class="bx bx-arrow-back" (click)="back()"></i>
    </div>
    <h1>Registration</h1>
    <div class="input-box">
      <input
        [(ngModel)]="username"
        type="text"
        placeholder="Username"
        required
      />
      <i class="bx bxs-user"></i>
    </div>
    <div class="input-box">
      <input
        [(ngModel)]="password"
        type="password"
        placeholder="Password"
        required
      />
      <i class="bx bxs-lock-alt"></i>
    </div>
    <div class="input-box">
      <input
        type="password"
        placeholder="Repeat Your Password"
        required
        id="passCheck"
      />
      <i class="bx bxs-lock-alt"></i>
    </div>
    <button class="btn" type="submit" (click)="register()">Register</button>
  </div>
</div>
