@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  min-height: 100vh;
  background: url("../../../assets/imgs/background/img.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.header {
  height: 60px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.search {
  width: 600px;
  height: 30px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  transition: 0.4s;
}

.search input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
  margin-left: 10px;
  font-family: "JetBrains-Mono";
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

#search:focus .search {
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20px;
}

.icons i {
  color: #fff;
  font-size: 30px;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  padding: 7px;
  transition: 0.4s;
}

.icons i:hover {
  color: #ccc;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

.icons i:active {
  color: #fff;
}

.active {
  border: 2px solid rgba(255, 255, 255, 0.4);
  color: #ccc;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.4);
}

.settings-icon {
  position: absolute;
  right: 20px;
}

.settings-icon i {
  color: #fff;
  font-size: 30px;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  padding: 7px;
  transition: 0.4s;
}

.settings-icon i:hover {
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

.settings-icon i:active {
  color: #fff;
}

.main {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  flex-wrap: nowrap;
}

.sidebar {
  width: 300px;
  height: calc(100% - 10px);
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: scroll;
  margin-top: 5px;
  margin-left: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar ul {
  list-style: none;
  margin-right: 10px;
}

.activeSearch {
  border: 2px solid rgba(255, 255, 255, 0.4);
  color: #ccc;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
