<div class="body">
  <div class="header">
    <div class="icons">
      <i class="bx bx-user active"></i>
      <i class="bx bx-group"></i>
    </div>
    <div class="newChat">
      <button id="newChatBtn" (click)="showNewChatForm()">
        <span>New Chat</span>
      </button>
    </div>
    <div class="settings-icon">
      <i class="bx bx-cog"></i>
    </div>
  </div>
  <div class="main">
    <div class="sidebar">
      <ul>
        <li>
          <app-chat
            *ngFor="let chat of chatsInSidebar$ | async"
            [username]="chat.userName"
            [lastMessage]="chat.lastMessageText"
            [notifications]="chat.notifications"
          ></app-chat>
          <ul>
            <li *ngFor="let chat of chats$ | async">
              id:{{ chat.id }} | name:{{ chat.name }} | users:{{
                chat.users | json
              }}
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="new-chat-form">
      <i class="bx bx-x close" (click)="closeNewChatForm()"></i>
      <div class="app-new-chat-form">
        <div class="body-new-chat">
          <div class="wrapper">
            <h1>New Chat</h1>
            <form [formGroup]="newChatForm" (ngSubmit)="onSubmit()">
              <div class="input-box">
                <input
                  type="text"
                  placeholder="Username"
                  formControlName="userName"
                  required
                />
                <i class="bx bxs-user"></i>
              </div>
              <div class="input-box">
                <input
                  type="text"
                  placeholder="Chat Name(optional)"
                  formControlName="chatName"
                  required
                />
                <i class="bx bx-comment-detail"></i>
              </div>
              <button class="btn" type="submit" [disabled]="!newChatForm.valid">
                Create
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <app-main-content></app-main-content>
    <div class="btn" (click)="test()">TEST</div>
  </div>
</div>
