<div class="body">
  <div class="header">
    <div class="icons">
      <i class="bx bx-user active"></i>
      <i class="bx bx-group"></i>
    </div>
    <div class="newChat">
      <button id="newChatBtn" (click)="showNewChatForm()">
        <span>New Chat</span>
      </button>
    </div>
    <div class="settings-icon">
      <i class="bx bx-cog"></i>
    </div>
  </div>
  <div class="main">
    <div class="sidebar">
      <ul>
        <li>
          <app-chat
            *ngFor="let chat of chatsInSidebar"
            [username]="chat.userName"
            [lastMessage]="chat.lastMessageText"
            [notifications]="chat.notifications"
          ></app-chat>
        </li>
      </ul>
    </div>
    <div class="new-chat-form">
      <i class="bx bx-x close" (click)="closeNewChatForm()"></i>
      <app-new-chat-form></app-new-chat-form>
    </div>
    <app-main-content></app-main-content>
  </div>
</div>
