<div class="body">
  <div class="header">
    <div class="icons">
      <i class="bx bx-user active"></i>
      <i class="bx bx-group"></i>
    </div>
    <div class="search">
      <input
        type="text"
        placeholder="Search"
        id="search"
        (focus)="focus()"
        (focusout)="focusout()"
      />
      <i class="bx bx-search-alt-2"></i>
    </div>
    <div class="settings-icon">
      <i class="bx bx-cog"></i>
    </div>
  </div>
  <div class="main">
    <div class="sidebar">
      <ul>
        <li>
          <app-chat></app-chat>
          <app-chat></app-chat>
          <app-chat></app-chat>
          <app-chat></app-chat>
          <app-chat></app-chat>
          <app-chat></app-chat>
          <app-chat></app-chat>
          <app-chat></app-chat>
          <app-chat></app-chat>
          <app-chat></app-chat>
          <app-chat></app-chat>
          <app-chat></app-chat>
          <app-chat></app-chat>
        </li>
      </ul>
    </div>
    <app-main-content></app-main-content>
  </div>
</div>
