<div class="body">
  <div class="wrapper">
    <h1>Login</h1>
    <div class="input-box">
      <input
        [(ngModel)]="username"
        type="text"
        placeholder="Username"
        required
      />
      <i class="bx bxs-user"></i>
    </div>
    <div class="input-box">
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Password"
        required
      />
      <i class="bx bxs-lock-alt"></i>
    </div>
    <div class="remember-forgot">
      <label><input type="checkbox" />Remember me</label>
      <a href="#">Forgot password?</a>
    </div>
    <button class="btn" type="submit" (click)="login()">Login</button>
    <div class="register-link">
      <p>
        Not a member?
        <a routerLink="/register" routerLinkActive="active">Register now</a>
      </p>
    </div>
    <div class="admin-link">
      <p>
        Or You Are an Admin?
        <a routerLink="/admin" routerLinkActive="active">Go to</a>
      </p>
    </div>
  </div>
</div>
