<div class="body-new-chat">
  <div class="wrapper">
    <h1>New Chat</h1>
    <form [formGroup]="newChatForm" (ngSubmit)="onSubmit()">
      <div class="input-box">
        <input
          type="text"
          placeholder="Username"
          formControlName="userName"
          required
        />
        <i class="bx bxs-user"></i>
      </div>
      <div class="input-box">
        <input
          type="text"
          placeholder="Chat Name(optional)"
          formControlName="chatName"
          required
        />
        <i class="bx bx-comment-detail"></i>
      </div>
      <button class="btn" type="submit" [disabled]="!newChatForm.valid">
        Create
      </button>
    </form>
  </div>
</div>
